# **Disimilarity (Tugas 1)**

## Konsep Disimilarity
Dalam peambangan data yang pengaplikasian yang sering digunakan adalah clustering. pada teknik ini perlu untuk menemukan seberapa mirip atau tidaknya data. Salah satu cara yaitu dengan menggunakan Dismilarity

Terdapat beberapa atribut yang dimiliki seperti 

1. Nominal / Categorial
2. Ordinal
3. Biner
4. Numerik

Mengukur jarak (dissimilarity)
1.   Ambil data dari Kaggle atau GitHub
2.   Ukur jarak d(1,2), d(1,3), d(1,4) dari data tersebut

In [1]:
import pandas as pd
import math

In [2]:
dataset = pd.read_csv('https://raw.githubusercontent.com/jakobgross/Students-Performance-in-Exams-Kaggle-/master/StudentsPerformance.csv')
dataset.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## Atribut Categorial
Atribut yang menggunakan nama suatu hal atau kategori.

Rumus Atribut Cetogorial
$\frac {P-M}{P}$

In [3]:
def jarakData(i,j):
  p = 4
  m = 0
  for col in ['race/ethnicity', 'parental level of education', 'test preparation course', 'lunch']:
    if dataset[col][i] == dataset[col][j]:
      m+=1
  return (p-m)/p

In [4]:
print(jarakData(0, 1))
print(jarakData(0, 2))
print(jarakData(0, 3))

0.75
0.25
0.75

## Atribut Numerik
Atribut yang memiliki nilai integer atau nilai real.

In [5]:
def jarakData2(i, j, h):
  temp = 0
  for dataColomn in ['math score', 'reading score', 'writing score']:
    result = math.pow(abs((dataset[dataColomn][i]) - (dataset[dataColomn][j])), h)
  return result**(1/h)

In [6]:
print(jarakData2(0,1,1))
print(jarakData2(0,2,1))
print(jarakData2(0,3,1))

14.0
19.0
30.0

In [7]:
print(jarakData2(0,1,3))
print(jarakData2(0,2,3))
print(jarakData2(0,3,3))

13.999999999999998
18.999999999999996
29.999999999999993